<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<button class="dark-mode-button" id="dark-mode-button" onclick="toggleDarkMode()">Toggle Dark Mode</button>
<button id="goback" class="dark-mode-button" onclick="window.location.href = '/'">Go back</button>

<div class="header">
    <h1 class="centered">TheBeeBoi's site</h1>
    <h2>{{ title }}</h2>
</div>

{{ content | safe }}

<script src="/script.js"></script>
</body>
</html>
