<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/extras/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/extras/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/extras/favicon-16x16.png">
    <link rel="manifest" href="/extras/site.webmanifest">
</head>
<body>
<button class="dark-mode-button" id="dark-mode-button" onclick="toggleDarkMode()">Toggle Dark Mode</button>
<button id="goback" class="dark-mode-button" onclick="window.location.href = '/'">Go back</button>

<div class="header">
    <h1 class="centered">TheBeeBoi's site</h1>
    <h2 class="centered">{{ title }}</h2>
</div>

{{ content | safe }}

<script src="/script.js"></script>
</body>
</html>
